@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overlock+SC&display=swap');
    :root {
    --primary-color: #cc8118;
    --text-shadow-dark: 3px 3px 8px rgba(0, 0, 0, 0.8);
    --container-max-width: 1000px;
    --button-hover-scale: 1.2;
    --background-color: antiquewhite;
    --text-color: #000000;
    }

    body.dark-mode {
    --background-color: #1b1b1b;
    --text-color: #f1f1f1;
    --secondary-background: #222831;
    --card-border-color: #393e46;
    --primary-button-color: #44505a;
    --primary-shadow-color: rgba(0, 0, 0, 0.8);
    }

    body {
        font-family: 'Overlock SC', 'Merriweather', 'Nunito Sans', 'Inter', sans-serif;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url("./assets/fondo.png");
        background-repeat: repeat;
        background-size: 120px 120px;
        font-size: clamp(14px, 2vw, 20px);
        position: relative;
        color: #000000;
        background-color: var(--background-color);
        text-shadow:
            0 0 5px rgb(255, 255, 0),
            0 0 10px rgb(255, 157, 0),
            0 0 20px rgb(255, 0, 0),
    }

    header {
    display: flex;
    justify-content: center; /* Colocar los elementos a la izquierda y derecha */
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    flex-wrap: wrap;
    }

    header h1 {
        flex: 1 1 100%;
        font-size: clamp(24px, 4vw, 40px); /* Tamaño adaptable */
        text-align: center;
        text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
    }

    header button {
        margin-left: 10px; /* Separar el botón del interruptor de tema */
    }
    .reglas-modo{
        justify-content: space-between;
    }

    h1,
    #seleccionar-personaje,
    #seleccionar-ataque,
    #mensajes,
    .reglas,
    #reiniciar {
        background-color: rgba(73, 45, 2, 0.887); /* Blanco semitransparente */
        padding: 20px;
        width: 100%;
        height: 80%;
        max-width: 600px;
        border-radius: 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
        margin: 20px auto;
        color: rgb(255, 224, 144);
    }

    #seleccionar-ataque{
        display: none;
    }

    #seleccionar-personaje,
    #seleccionar-ataque,
    #mensajes,
    #reiniciar {
        font-size: 20px;
    }

    h1{
    font-size: clamp(40px, 6vw, 50px);
    }

    span{
        text-shadow: rgb(0, 0, 0) 0 5px;
    }

    #seleccionar-personaje {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .contenedor-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personajes-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .personaje {
        text-align: center;
    }

    .personaje:has(input[type="radio"]:checked) {
    position: relative;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8),
                0 0 40px rgba(255, 140, 0, 0.6);
    transform: scale(1.1);
    border-radius: 20px;
    }

    .personaje:has(input[type="radio"]:checked) img {
    transform: translateY(-5px);
    }

    /*.personaje:has(input[type="radio"]:checked)::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 30px;
    background: radial-gradient(circle, rgba(255, 223, 55, 0.4), rgba(255, 140, 0, 0));
    animation: pulse 1.5s infinite;
    }*/

    @keyframes pulse {
    0% { transform: scale(1); opacity: 1;}
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
    }

    .personaje img {
        width: 160px;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .boton-container {
        margin-top: 20px;
    }

    button, .boton-reglas {
        background-color: #cc8118;
        color: rgb(103, 74, 48);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: clamp(14px, 1.8vw, 20px);
        padding: 0.6em 1.2em;
        font-weight: bolder;
    }

    button:hover, .boton-reglas:hover{
        transform: scale(var(--button-hover-scale));
        color: rgb(186, 165, 3);
        background-color: rgb(26, 19, 0);
        border-radius: 12px;
    }

    button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(40%);
    transition: all 0.2s ease-in-out;
    }

    #mensajes {
    width: 70%;
    height: auto;
    max-height: none;
    overflow: visible;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    }

    .icon {
        margin-right: 10px;
        filter: drop-shadow(2px 2px 5px rgba(255, 255, 250, 2));
        background-color: rgba(53, 47, 1, 0.169);
        border-radius: 10px; /* Bordes redondeados */
        padding: 5px; /* Espaciado interno */
    }

    .reglas{
        display: none;
        background-color: rgb(103, 74, 48);
        color: white;
        text-align: left;
    }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.6); /* fondo gris transparente */
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    position: relative;
    background-color: rgb(103, 74, 48);
    border-radius: 12px;
    width: 90%;
    height: auto;
    color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    text-align: left;
    max-width: 500px;
    font-size: clamp(16px, 2vw, 22px);
    padding: 20px;
    overflow: hidden;
}

/* Ondas arriba */
.modal-contenido::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 20px;
    background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" preserveAspectRatio="none"><path d="M0 10 Q5 0 10 10 T20 10 T30 10 T40 10 T50 10 T60 10 T70 10 T80 10 T90 10 T100 10" stroke="yellow" stroke-width="3" fill="none"/></svg>') repeat-x;
    background-size: 20px 20px;
    pointer-events: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Ondas abajo */
.modal-contenido::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 20px;
    background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" preserveAspectRatio="none"><path d="M0 10 Q5 20 10 10 T20 10 T30 10 T40 10 T50 10 T60 10 T70 10 T80 10 T90 10 T100 10" stroke="yellow" stroke-width="3" fill="none"/></svg>') repeat-x;
    background-size: 20px 20px;
    pointer-events: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Ondas izquierda */
.modal-contenido > .border-left {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 10px;
    width: 20px;
    background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="100%" preserveAspectRatio="none"><path d="M10 0 Q0 5 10 10 T10 20 T10 30 T10 40 T10 50 T10 60 T10 70 T10 80 T10 90 T10 100" stroke="yellow" stroke-width="3" fill="none"/></svg>') repeat-y;
    background-size: 20px 20px;
    pointer-events: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Ondas derecha */
.modal-contenido > .border-right {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 10px;
    width: 20px;
    background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="100%" preserveAspectRatio="none"><path d="M10 0 Q20 5 10 10 T10 20 T10 30 T10 40 T10 50 T10 60 T10 70 T10 80 T10 90 T10 100" stroke="yellow" stroke-width="3" fill="none"/></svg>') repeat-y;
    background-size: 20px 20px;
    pointer-events: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cerrar-modal {
    position: absolute;
    top: 3%;
    right: 4%;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 224, 144);
    transition: color 0.3s, transform 0.3s; /* para animar suavemente */

    &:hover {
        color: rgb(172, 105, 11);
        transform: scale(1.5); /* sin el % y usando transform */
        transition: color 0.1s, transform 1s;
    }
}

.modal-contenido h4 {
    margin-top: 0;
}

.mensaje-verde {
    color: lime;
    text-shadow: 0 0 12px lime;
}

.mensaje-rojo {
    color: red;
    text-shadow: 0 0 12px red;
}

.mensaje-amarillo {
    color: gold;
    text-shadow: 0 0 12px gold;
}

.dark-mode-toggle {
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    position: relative;
    width: 100px;
    height: 50px;
    padding: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.dark-mode-toggle input {
    display: none;
}

.dark-mode-toggle label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background,rgb(210, 194, 168)); /* Fallback */
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-mode-toggle .mode {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    width: 50%;
    font-weight: bold;
    color: var(--text-color, #7a7a7a);
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.dark-mode-toggle .sun {
    right: 8px;
    text-align: right;
    opacity: 1;
    font-size: 2.5rem;
    align-items: center;
    line-height: 1;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
}

.dark-mode-toggle .moon {
    left: 8px;
    text-align: left;
    opacity: 0; /* Oculto por defecto */
    font-size: 2.5rem;
    line-height: 1;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
}

.dark-mode-toggle .toggle-slider {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.dark-mode-toggle input:checked + label {
    background-color: var(--card-border-color, #333);
}

.dark-mode-toggle input:checked + label .sun {
    opacity: 0;
}

.dark-mode-toggle input:checked + label .moon {
    opacity: 1;
}

.dark-mode-toggle input:checked + label .toggle-slider {
    transform: translateX(60px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .personajes-container {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .personaje img {
        width: 140px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    #mensajes {
        width: 100%;
        padding: 10px;
    }

    header {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .dark-mode-toggle {
        width: 100px;
        height: 35px;
    }

    .dark-mode-toggle .toggle-slider {
        width: 25px;
        height: 25px;
    }

    .dark-mode-toggle label {
        padding: 3px;
    }

    .dark-mode-toggle label .mode {
        font-size: 0.8rem;
    }
        
    .reglas{
        padding: 10px;
    }
}

/* Ajustes para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .personaje img {
        width: 160px;
    }

    .personajes-container {
        gap: 20px;
    }

    .dark-mode-toggle {
        width: 90px; /* Ajusta tamaño ligeramente */
        height: 36px;
    }

    .dark-mode-toggle label {
        padding: 5px;
    }

    .reglas{
        padding: 30px;
    }
}